@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

.App {
  width: 80%;
  height: 100%;
  min-width: 350px;
  max-width: 450px;
  margin: 0px auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.box-container {
  max-width: 390px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, sans-serif;
}

.header {
  margin: 15px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.text {
  color: #4a4e74;
  padding: 0px 20px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.dice-box {
  width: 60%;
  margin: 35px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.Die {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  font-family: "Karla", sans-serif;
  box-shadow: 0px 3px 3px 0px #00000026;
}

.RollBtn {
  margin-bottom: 15px;
}
.RollBtn button {
  color: #f5f5f5;
  background-color: #5035ff;
  font-size: 1rem;
  padding: 13px 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.RollBtn :active {
  background-color: #5035ffaf;
}

@media (min-width: 510px) {
  .App {
    height: 500px;
    margin: 5% auto;
  }
  .header {
    font-size: 35px;
  }
  .text {
    font-size: 18px;
  }
  .Die {
    font-size: 1.7rem;
  }
  .dice-box {
    width: 100%;
    margin: 35px 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
  }

  .Die {
    width: 50px;
    height: 50px;
  }

  .RollBtn {
    margin-bottom: 40px;
  }

  .RollBtn button {
    font-size: 1.3rem;
  }
}
